//Typography
$ff-header: 'Antonio', sans-serif;
$ff-body: 'League Spartan', sans-serif;

//Colors
$primary-col: #ffffff;
$sec-col: #838391;
$backg-col: #070724;
$hover-back-col: #38384F;
//$shadow-col: rgba(255, 255, 255, 0.5);
$shadow-col: rgba(0, 0, 0, 0.5);

//Font-sizes
$fs-h-main-l: 5rem; //80px
$fs-h-main-m: 3rem; //48px
$fs-h-main-s: 2.5rem; //40px

$fs-h-data-l: 2.5rem; //40px
$fs-h-data-m: 1.5rem; //24px
$fs-h-data-s: 1.25rem; //20px

$fs-t-l: 0.875rem;//14px
$fs-t-m: 0.6875rem;//11px
$fs-t-s: 0.6875rem;//11px

//Font spacing
$f-spac-s: 1px;
$f-spac-m: 2.6px;
$f-spac-l: -1px;

//MediaQueries
$sm: 480px;
$md: 480px;
$lg: 992px;