//Typography
$ff-header: 'Antonio', sans-serif;
$ff-body: 'League Spartan', sans-serif;

//Colors
$primary-col: #ffffff;
$sec-col: #838391;
$backg-col: #070724;
$hover-back-col: #38384F;
$sel-merc-col: #419EBB;
$sel-ven-col: #EDA249;
$sel-earth-col: #6D2ED5;
$sel-mars-col: #D14C32;
$sel-jup-col: #D83A34;
$sel-sat-col: #CD5120;
$sel-uran-col: #1EC1A2;
$sel-nept-col: #2D68F0;

//Font-sizes
$fs-h-main-l: 5rem; //80px
$fs-h-main-m: 3rem; //48px
$fs-h-main-s: 2.5rem; //40px

$fs-h-data-l: 2.5rem; //40px
$fs-h-data-m: 1.5rem; //24px
$fs-h-data-s: 1.25rem; //20px

$fs-t-l: 0.875rem;//14px
$fs-t-m: 0.6875rem;//11px
$fs-t-s: 0.6875rem;//11px

//MediaQueries
$sm: 480px;
$md: 672px;
$lg: 1056px;


