@import "../../styles/main.scss";

.main-header {
    align-items: center;
    border-bottom: 1px solid $sec-col;
    color: $primary-col;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 24px;
    h1 {
        font-size: 1.75rem;
        font-weight: 400;
        color: $primary-col;
        font-family: $ff-header;
        margin: 0px;
        letter-spacing: $f-spac-l;
    }

    @media (min-width: $md) {
        flex-direction: column;
        padding: 0px 50px;
        h1 {
            flex: 1;
            padding: 40px 0;
        }
        &__menu {
            display: none;
        } 
    }

    @media (min-width: $lg) {
        flex-direction: row;
        padding: 0 36px;
        h1 {
            padding: 0;
            white-space: nowrap;
        }
    }
}

