@import "../../styles/main.scss";

.planet-menu{
    list-style: none;
    font-family: $ff-body;
    font-size: 9px;
    font-weight: 500;
    color: rgba(255, 255, 255,  0.5);
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255,  0.5);
    padding: 0 30px;
    margin: 0;
    justify-content: space-between;
    letter-spacing: $f-spac-m;
    li {
        padding: 20px 0;
        border-bottom: 4px solid transparent;
    }
    @media (min-width: $md) {
        display: none;
    }
}
.planet {
    color: white;
    text-align: center;
    padding: 0 24px;
    box-sizing: border-box;

    .planet-image-container {
        height: 315px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 111px;
        } 
    }

    .planet-info {
        &__text {
            h2 {
                font-family: $ff-header;
                font-size: $fs-h-main-s;
                font-weight: 400;
                margin: 0 0 24px 0;
            }
            p, span {
                font-family: $ff-body;
                font-size: $fs-t-s;
                font-weight: 300;
                color: rgba(255, 255, 255,  0.5);
                margin: 0;
        
            }
            span{
                font-size: 12px;
                padding: 36px 0;
                display: block;
                a {
                    color: $primary-col;
                    font-weight: 500;
                    color: rgba(255, 255, 255,  0.5);
                    margin-left: 4px;
                }
                img {
                    height: 10px;
                    opacity: 0.7;
                    margin-left: 4px;
                }
            }
        }
    }
    @media (min-width: $md) {
        h2 {
            font-size: $fs-h-main-m;
        }
        p {
            font-size: $fs-t-m;
        }
    }
    @media (min-width: $lg) {
        h2 {
            font-size: $fs-h-main-l;
        }
        p {
            font-size: $fs-t-l;
        }
        span{
            font-size: 14px;
        }
    }
}