@import "../../styles/main.scss";

.content-button {
    border: 1px solid rgba(255, 255, 255,  0.5);
    background-color: $backg-col;
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 14px 20px;
    font-family: $ff-body;
    font-weight: 500;
    font-size: 9px;
    letter-spacing: $f-spac-s;
    box-shadow: 0 0 10px $shadow-col;
    transition: 0.3s ease-in-out;
    //width: 280px;
    &__number {
        color: rgba(255, 255, 255,  0.5);
    }
    &__title {
        color: $primary-col;
        text-align: start;
    }
    &:hover {
        background-color: darkblue;
        transition: 0.3s ease-in-out;
        transform: scale(1.01);
    }
    @media (min-width: $lg) {
        gap: 24px;
        padding: 18px 28px;
        font-size: 12px;
        letter-spacing: $f-spac-m;
    }
}