@import "../../styles/main.scss";

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid $sec-col;
    h1 {
        font-size: 1.75rem;
        color: $primary-col;
        font-family: $ff-header;
        margin: 0px;
    }

    @media (min-width: $sm) {

    }
}

