@import "../../styles/main.scss";

.planet-menu{
    list-style: none;
    font-family: $ff-body;
    font-size: 9px;
    font-weight: 500;
    color: rgba(255, 255, 255,  0.5);
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255,  0.5);
    padding: 0 30px;
    margin: 0;
    justify-content: space-between;
    letter-spacing: $f-spac-m;
    li {
        padding: 20px 0 16px 0;
        border-bottom: 4px solid transparent;
    }
    @media (min-width: $md) {
        display: none;
    }
}

.planet {
    color: white;
    text-align: center;
    padding: 0 24px;
    box-sizing: border-box;

    .planet-image-container {
        height: 315px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 225px;
        } 
    }

    .planet-info {
        &__text {
            h2 {
                font-family: $ff-header;
                font-size: $fs-h-main-s;
                font-weight: 400;
                margin: 0 0 24px 0;
            }
            p {
                font-family: $ff-body;
                font-size: $fs-t-s;
                font-weight: 300;
                margin: 0;
                line-height: 22px;
                
            }
            span{
                font-family: $ff-body;
                color: rgba(255, 255, 255,  0.5);
                font-size: 12px;
                padding: 36px 0;
                display: block;
                a {
                    color: rgba(255, 255, 255,  0.5);
                    font-weight: 500;
                    margin-left: 4px;
                    &:hover {
                        color: $primary-col;
                    }
                }
                img {
                    height: 10px;
                    opacity: 0.7;
                    margin-left: 4px;
                }
            }
        }
        &__menu {
            display: none;
        }
    }

    @media (min-width: $md) {
        .planet-image-container {
            height: 468px;
            img{
                height: 370px;
            } 
        }
        .planet-info {
            display: flex;
            flex-direction: row;
            gap: 38px;
            padding-bottom: 34px;

            &__text {
                text-align: start;
                h2 {
                    font-size: $fs-h-main-m;
                    margin: 0 0 32px 0;
                }
                p { 
                    line-height: 22px;        
                }
                span{
                    padding: 16px 0 0 0;
                    display: block;
                    a {
                        font-weight: 500;
                        margin-left: 4px;
                    }
                    img {
                        height: 10px;
                        margin-left: 4px;
                    }
                }
            }

            &__menu {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-top: 62px;
            }
        }
    }
    @media (min-width: $lg) {
        padding: 0 164px 0 164px;
        display: flex;
        flex-direction: row;
        gap: 150px;
        
        .planet-image-container {
            width: 50%;
            height: 754px;
            img{
                height: 580px;
            } 
        }
        .planet-info {
            flex-direction: column;
            padding: 150px 0 0 0;
            gap: 0;
            width: 50%;
            &__text {
                text-align: start;
                h2 {
                    font-size: $fs-h-main-l;
                    margin: 0 0 38px 0;
                }
                p { 
                    font-size: 14px;
                    line-height: 22px;        
                }
                span{
                    padding: 32px 0 0 0;
                    display: block;
                    a {
                        font-weight: 500;
                        margin-left: 4px;
                    }
                    img {
                        height: 10px;
                        margin-left: 4px;
                    }
                }
            }
            &__menu {
                margin-top: 44px;
            }
        }

    }
}

.planet-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 24px;
    @media (min-width: $md) {
        flex-direction: row;
        gap: 12px;
    }
    @media (min-width: $lg) {
        padding: 0 164px;
        gap: 30px;
    }

}